body{
	background-color: #354457;
	font-family: Poppins;
	color: #f5f5f5;
    height: 100%;
    font-size: 1.6rem;
}

header{
	background-color: #F5F5F5;
	border-radius: 1em 1em;
	padding: 1em 1em;
	color: #354457;
	font-size: 125%;
    font-family: Poppins;
}

.poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}

/*Affichier les menus de navigation sous forme de blocs*/
nav.menu ul li.btn{
	list-style-type: none;
	display: inline-block;
}

/*Personnalisation des menus de navigations*/
nav.menu ul li.btn a{
	color: white;
	background-color: #039be5;
	text-decoration: none;
	padding: 20px;
	border-radius: 2em 2em;
	font-size: 125%;
}

/*Transition des menus de navigation lors du survol de la souris*/
nav.menu ul li.btn:hover a{
	color: #f5f5f5;
	background-color: #354457;
	transition: 0.4s all;
}

/* Connexion */

div#connexion div{
	display: inline-block;
	width: 30%;
	font-size: 125%;
	margin: 31,25%;
	color: #ffffff;
	background-color: #039be5;
	padding: 1em 1em;
	border-radius: 1em 1em;
    font-family: Poppins;
}

div#connexion div:hover{
	color: #ffffff;
	background-color: #333333;
	transition: 0.4s all;
}

input.connexion{
	color: #f5f5f5;
	background-color: #354457;
	text-decoration: none;
	padding: 10px;
	border-radius: 2em 2em;
	font-size: 15px;
    font-family: Poppins;
}

input.connexion:hover{
	color: #039be5;
	background-color: #f5f5f5;
	transition: 0.4s all;
}

input.text{
	text-decoration: none;
	padding: 10px;
	border-radius: 2em 2em;
    font-family: Poppins;
}

input.pwd{
	text-decoration: none;
    padding: 10px;
    border-radius: 2em 2em;
    font-family: Poppins;
}

footer{
	background-color: #f5f5f5;
	border-radius: 1em 1em;
	padding: 1em 1em;
	color: #354457;
	font-size: 125%;
    margin: 5px;
    font-family: Poppins;
}

/* Pomodoro */

:root {
    font-size: 62.5%; /* 1rem = 10px */

    --color-primary: #354457;
    --color-secondary: #039be5;
    --color-font: #f5f5f5;

    --color-shadow: #f5f5f5;
    font-family: Poppins;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body#pomodoro {
    height: 100%;
    background-color: var(--color-primary);
    font-size: 1.6rem;
    font-family: Poppins;
}

i {
    font-size: 3.2rem;
    color: var(--color-font);
    font-family: Poppins;
}

section#pomodoro {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: Poppins;
}

.container {
    width: min(42.5rem, 100%);
    margin-inline: auto;
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Poppins;
}

.painel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 20rem;
    margin-block: 5rem;
    padding: 1rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0px 0px 15px 10px var(--color-shadow); 
    box-shadow: 0px 0px 15px 10px var(--color-shadow);
    font-family: Poppins;
}

.painel p {
    opacity: .8;
    transition: 1s ease-in;
    font-family: Poppins;
}

.painel p.active {
    opacity: 1;
    color: var(--color-secondary);
    font-family: Poppins;
}

h1#pomodoro{
    font-size: 35px;
    font-family: Poppins;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px 10px var(--color-shadow); 
    box-shadow: 0px 0px 15px 10px var(--color-shadow);
    font-family: Poppins;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26rem;
    height: 26rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    position: relative;
    font-family: Poppins;
}

.circle::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: var(--color-primary);
    font-family: Poppins;
}

.time {
    position: relative;
    display: flex;
    flex-direction: row;
    font-family: Poppins;
}

.time p {
    font-size: 5.6rem;
    font-family: Poppins;
}

.time p:nth-of-type(2) {
    position: relative;
    top: -.5rem;
    margin-inline: 1rem;
    font-family: Poppins;
}

.controls {
    margin-top: 3rem;
    font-family: Poppins;
}

.controls button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: Poppins;
}

.controls #reset {
    display: none;
    font-family: Poppins;
}

/* Notes */

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

body#notes {
    height: 100%;
    font-size: 1.6rem;
    font-family: Poppins;
}

section#notes {       
    display: inline-flex;    
    flex-direction: column;             
    text-align: center;              
    background-color: #039be5;              
    border-radius: 20px;              
    padding: 20px;              
    font-family: Poppins;              
    margin-left: 20%; 
    margin-right: 50%;  
    width: 60%;     
    font-family: Poppins;  
}       

section#notes:hover {              
	background-color: #333333;              
	transition: 0.4s all;              
}  

h1#notes {  
   color: #f5f5f5; 
   font-size: 30px;
   font-family: Poppins;
} 

#nom-fichier { 
    margin: 20px 0; 
    font-size: 18px;
    border: 1px solid #039be5;
    text-decoration: none;
	padding: 10px;
	border-radius: 2em 2em;
    font-family: Poppins;
}

textarea#text {
    resize:none ;
    font-size: 18px;
    outline: 0;
    border: 1px solid #ccc;
    font-family: Poppins;
    text-decoration: none;
	padding: 10px;
	border-radius: 1em 1em;
    font-family: Poppins;
}

button#notes {
	color: #f5f5f5;
	background-color: #354457;
	text-decoration: none;
	padding: 10px;
	border-radius: 2em 2em;
	font-size: 20px;
    font-family: Poppins;
}

button#notes:hover {
	color: #f5f5f5;
	background-color: #039be5;
	transition: 0.4s all;
}

section#notes span{
    float:left;
    font-size: 30px;
}

/* Todo */

body#todo {
    height: 100%;
    font-size: 1.6rem;
    font-family: Poppins;
}

.container#todo{
    display: inline-flex;    
    flex-direction: column;             
    text-align: center;              
    background-color: #039be5;              
    border-radius: 1em 1em;              
    padding: 45px;              
    font-family: Poppins;              
    margin-left: 20%; 
    margin-right: 50%;  
    width: 60%;
}

h1#todo{
    font-size: 30px;
    font-family: Poppins;
}

.container#todo:hover{
	background-color: #333333;              
	transition: 0.4s all;  
}

#newtask input{
    position: relative;
    width: 85%;
    height: 45px;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 10px;
    color: #000000;
    font-weight: 500;
    float: left;
    position: relative;
    border-radius: 1em 1em;
    box-shadow: 0 15px 30px rgba(0,0,0,0);
    font-family: Poppins;
}

#newtask input:focus{
    outline: none;
    border-color: #039be5;
    box-shadow: 0 15px 30px rgba(0,0,0,0);
}

#newtask button{
    position: relative;
    float: right;
    width: 10%;
    height: 45px;
    border-radius: 1em 1em;
    font-weight: 500;
    font-size: 16px;
    background-color: #354457;
    border: none;
    color: #f5f5f5;
    cursor: pointer;
    outline: none;
    font-family: Poppins;
}

#newtask button:hover{
    background-color: #039be5;
    transition: 0.4s all;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

#tasks{
    background-color: #f5f5f5;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    width: 100%;
    position: relative;
    font-family: Poppins;
}

.task{
    background-color: #f5f5f5;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    color: #000000;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
    font-family: Poppins;
}

.task span{
    font-size: 15px;
    font-weight: 400;
    font-family: Poppins;
}

.task button{

    background-color: #354457;
    color: #f5f5f5;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    font-family: Poppins;
}

.task button:hover{
    background-color: #039be5;
    transition: 0.4s all;
}

.completed{
    text-decoration: line-through;
    color: red;
    font-family: Poppins;
}